@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1 {
  text-align: center;
}


body {
  color: black;
  font-family: 'Open Sans', sans-serif;
}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


// Nav Bar

nav {
  background: grey;
  padding: 0 2px 0 2px;
  text-align: center;

}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

nav a:hover {
  color: teal;
  font-weight: 1000;
}

nav li {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 20px;
  width: 100px;

}

nav ul {
  margin: 0px;
}


.workout-image {
  width: 300px;
}

.show-container {

  position: relative;
  top: 20px;
  margin: auto;
  width: 50%;
  background: #f9f9f9;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  box-shadow: 1px 1px 10px #ddd,
            -1px -1px 10px #ddd,
            1px -1px 10px #ddd,
            -1px 1px 10px #ddd;
ReactPlayer {
  margin: auto;
}

}