// * {
//   border: 1px solid gold;
// }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1 {
  text-align: center;
}


h2 {
  color: blue;
}

.flex {
  display: flex;
  justify-content: center;
}

// html, body {
//   height: 100%;
// }

.empty-gym {
  background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding: 0;
  // height: 100%;
}

body {
  color: black;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
  // background-image: url("https://media.istockphoto.com/photos/empty-gym-picture-id1132006407?k=6&m=1132006407&s=612x612&w=0&h=vOx89bJoTm6tqEMRRZxsmzfdr1jwrmrbE-0yfm7sm74=");
  // background-image: url("https://images.unsplash.com/photo-1571902943202-507ec2618e8f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80");
  background-color: #F4F9FE;
  background-repeat: no-repeat;
  background-size: cover;

}


#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;

}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  font-family: 'Open Sans', sans-serif;
  bottom: 0;
  // background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}


// Nav Bar

nav {
  background: black;
  padding: 0 2px 0 2px;
  text-align: center;

}

nav a {
  text-decoration: none;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
}

nav a:hover {
  color: teal;
  font-weight: 1000;
}

nav li {
  display: inline-flex;
  justify-content: space-evenly;
  margin: 20px;
  width: 100px;

}

nav ul {
  margin: 0px;
}


.workout-image {
  width: 300px;
}

.show-container {

  position: relative;
  top: 20px;
  margin: auto;
  margin-bottom: 70px;
  width: 60%;
  height: 80%;
  background: #f9f9f9;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  box-shadow: 1px 1px 10px #ddd,
            -1px -1px 10px #ddd,
            1px -1px 10px #ddd,
            -1px 1px 10px #ddd;
h1, h4 {
  color: black;
h3 {
  color: blue;
}

}

}

.work-container {

  position: relative;
  top: 20px;
  margin: auto;
  width: 60%;
  height: 80%;
  background: #f9f9f9;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: center;
  box-shadow: 1px 1px 10px #ddd,
            -1px -1px 10px #ddd,
            1px -1px 10px #ddd,
            -1px 1px 10px #ddd;
h1, h4 {
  color: black;
h3 {
  color: blue;
}

}

}


.add {
  position: relative;
  top: 20px;
  margin: 10px auto 50px auto;
  width: 50%;
  background: #f9f9f9;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  box-sizing: border-box;
  overflow: auto;
  text-align: left;
  box-shadow: 1px 1px 10px #ddd,
            -1px -1px 10px #ddd,
            1px -1px 10px #ddd,
            -1px 1px 10px #ddd;
  position: relative;
  text-align: center;
}

input {
  border: 1px solid black;
  text-align: center;
  margin: auto;

}

input, textarea {
width: 80%;
margin-top: 10px;
margin-bottom: 20px;
box-sizing: border-box;
border: 1px solid black;
border-radius: 5px;
position: relative;
text-align: center;

}

textarea {
  text-align: center;
resize: none;
height: 75px;
}

label {
color: black;
text-align: center;
display: block;
}

.modal {
width: 900px;
border: 1px solid black;
margin: 0 auto;
margin-top: 10px;
background: gray;
}

.hiit-sesh {
  position: relative;
  top: 20px;
  bottom: 20px;
  margin: 10px auto 50px auto;
  width: 95%;
  background: black;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  padding-bottom: 30px;
  box-sizing: border-box;
  overflow: auto;
  text-align: left;
  box-shadow: 1px 1px 10px #ddd,
            -1px -1px 10px #ddd,
            1px -1px 10px #ddd,
            -1px 1px 10px #ddd;
  position: relative;
  text-align: center;
}